@import 'vars';
@import 'reset';
@import 'mixins';
@import 'animations';

body {
  color: $white;
  background: $black;
  -webkit-font-smoothing: subpixel-antialiased;
  font: 16px/20px $base-font-family;
  font-weight: 400;

  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  font-size: 2.25em;
}

header {
  position: relative;
  min-height: calc(100vh - 8em);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  h1 {
    max-width: 10em;
    line-height: 1.5em;
  }

  p {
    font-size: 1.5em;
    line-height: 1.75em;
    max-width: 14em;
    color: rgba($white, 0.8);
  }
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 50vw;
  position: relative;

  h1 {
    color: $white;
  }

  p {
    max-width: 14em;
    font-size: 1.5em;
    line-height: 1.75em;
    color: rgba($white, 0.8);
  }

  &:nth-of-type(2n - 1) {
    background: $orange;
    color: $black;

    h1 { color: $black; }
    p { color: rgba($black, 0.8); }
  }

  article {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  div.video-container {
    position: relative;
    z-index: -1;
    opacity: 0.5;

    > video {
      min-height: 50vw;
      width: auto;
    }
  }

  &.centered {
    min-height: 100vh;
  }
}

svg.squared {
  position: absolute;
  left: 2em;
  top: 0;

  transform: translateY(-50%);
  z-index: 10;

  &.flipped {
    right: 2em;
    left: auto;
    transform: translateY(-50%) rotate(180deg);
  }
}
