@import 'vars';
@import 'reset';
@import 'mixins';
@import 'animations';

body {
  color: $white;
  background: $black;
  -webkit-font-smoothing: subpixel-antialiased;
  font: 16px/20px $base-font-family;
  font-weight: 400;

  display: flex;
  flex-direction: column;
}

h1 {
  font-weight: 600;
  font-size: 2.25em;
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  min-height: 80vh;

  h1, p {
    max-width: 16em;
  }

  h1 { color: $white; }
  p {
    font-size: 1.5em;
    line-height: 1.75em;
    color: rgba($white, 0.8);
  }

  &:nth-of-type(2n - 1) {
    background: $orange;
    color: $black;

    h1 { color: $black; }
    p { color: rgba($black, 0.8); }
  }
}

header {
  min-height: calc(100vh - 8em);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
