@import 'vars';
@import 'mixins';

span.before {
  color: $orange;
  text-align: center;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: 0.25em;
  @include transform(translateX(0.125em));
}

.countdown {
  border: 2px solid $orange;
  border-radius: 0.5em;
  padding: 1.5em 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 16em;
  color: $orange;

  h2 {
    margin-top: 0.15em;
    margin-bottom: 0.25em;
    font-size: 2.5em;
  }

  span {
    letter-spacing: 0.25em;
    @include transform(translateX(0.125em));
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  * {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
  }
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding: 1em;
  font-size: 1.25em;
  border-radius: 0.5em;
  background: $orange;
  color: $black;

  @include transform(scale(1));
  @include ease(200ms);
  cursor: pointer;

  &:hover {
    background: $orange-lighter;
    @include transform(scale(0.99));
  }
}

.modal--wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background: rgba($black, 0.85);
  pointer-events: none;
  opacity: 0;

  @include ease(200ms);

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 32em;
    padding: 4em;
    background: $white;
    border-radius: 0.5em;
    @include box-shadow(0.5em, 0, 1em, 0, rgba($black, 0.5));
    @include transform(translateY(2em));
    @include transition-delay(100ms);
    @include ease(200ms);

    h2 { margin: 0; }
    P { font-size: 1.25em; }
    > * { color: $black; }

    &::after {
      @include ease(200ms);
      content: 'Tap anywhere to close';
      position: absolute;
      font-size: 1.25em;
      opacity: 0;
      top: -1em;
      left: 0;
    }

    &.submitted::after {
      opacity: 0.5;
      top: -2em;
    }

    .input-wrapper {
      display: flex;
      position: relative;
    }

    .placeholder {
      font-size: 1.25em;
      color: $black;
      opacity: 0.2;
      pointer-events: none;
      position: absolute;
      top: 0.75em;
      left: 1em;
      @include ease(150ms);
      z-index: 100;

      &.hidden {
        @include transform(translateX(0.25em));
        opacity: 0;
      }
    }

    input {
      box-sizing: border-box;
      padding: 0.5em 1em;
      background: #E6E6E6;
      border-top-left-radius: 0.5em;
      border-bottom-left-radius: 0.5em;
      border-right: 2px solid $white;
      font-size: 1.25em;
      line-height: 1em;
      display: flex;
      z-index: 10;
      position: relative;
      transform: translateZ(0);
      @include ease(0.25s);

      width: calc(100% - 3.5em;)
    }

    .continue-button {
      font-size: 1.25em;
      padding: 0.5em 1em;
      border-top-right-radius: 0.5em;
      border-bottom-right-radius: 0.5em;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      pointer-events: all;
      background: #CCCCCC;
      color: $black;
      width: 1.5em;
      z-index: 0;

      -webkit-transition:
        all 0.25s cubic-bezier(0.420, 0.000, 0.580, 1.000),
        background 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
      -moz-transition:
        all 0.25s cubic-bezier(0.420, 0.000, 0.580, 1.000),
        background 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
      transition:
        all 0.25s cubic-bezier(0.420, 0.000, 0.580, 1.000),
        background 100ms cubic-bezier(0.420, 0.000, 0.580, 1.000);

      position: absolute;
      right: 0;
      bottom: 0;
      height: calc(100% - 1em);

      &:hover {
        padding-left: 0.85em;
        padding-right: 1.15em;
        background: $orange;
      }
    }

    span.success {
      padding-bottom: 0.8em;
      padding-top: 0.8em;
      font-size: 1.25em;
      color: #69B253;
      opacity: 0;

      @include ease(200ms);
      @include transition-delay(200ms);
      @include transform(translateY(0.5em));
      position: absolute;
      left: 0;
      top: 0;
    }

    .input-wrapper.success {
      input, div.continue-button {
        @include transform(translateY(-0.5em));
        pointer-events: none;
        opacity: 0;
      }

      span.success {
        opacity: 1;
        @include transform(translateY(0));
      }
    }

    .input-wrapper:not(.valid) {
      input {
        width: 100%;
        border-radius: 0.5em;
      }

      .continue-button {
        @include transform(translateX(1.5em));
        pointer-events: none;
        opacity: 0;
      }
    }
  }

  &.open {
    @include transition-delay(0);

    .modal {
      @include transition-delay(0);
      @include transform(translateY(0));
    }

    pointer-events: all;
    opacity: 1;
  }
}
