@import 'vars';
@import 'mixins';

span.before {
  color: $orange;
  text-align: center;
  margin: 1em auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  letter-spacing: 0.25em;
  @include transform(translateX(0.125em));
}

.countdown {
  border: 2px solid $orange;
  border-radius: 0.5em;
  padding: 1.5em 2.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 16em;
  color: $orange;

  h2 {
    margin-top: 0.15em;
    margin-bottom: 0.25em;
    font-size: 2.5em;
  }

  span {
    letter-spacing: 0.25em;
    @include transform(translateX(0.125em));
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 1em;
  padding: 1em;
  font-size: 1.25em;
  border-radius: 0.5em;
  background: $orange;
  color: $black;

  @include transform(scale(1));
  @include ease(200ms);
  cursor: pointer;

  &:hover {
    background: $orange-lighter;
    @include transform(scale(0.99));
  }
}

.modal--wrapper {
  z-index: 1000;
  position: fixed;
  left: 0;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 100vh;
  background: rgba($black, 0.85);
  pointer-events: none;
  opacity: 0;

  &.open {
    pointer-events: all;
    opacity: 1;
  }

  .modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    width: 32em;
    padding: 4em;
    background: $white;
    border-radius: 0.5em;
    @include box-shadow(0.5em, 0, 1em, 0, rgba($black, 0.5));

    h2 { margin: 0; }
    P { font-size: 1.25em; }
    > * { color: $black; }

    input {
      box-sizing: border-box;
      padding: 1em;
      background: rgba($black, 0.1);
      border-radius: 0.5em;
      margin-top: 1em;
      font-size: 1.25em;
    }
  }
}
