$black:  #000000;
$white:  #ffffff;
$orange: #ffb900;
$orange-lighter: #FFAE05;

@import url('https://fonts.googleapis.com/css?family=Titillium%20Web');
$base-font-family: 'Titillium Web', monospace;
$base-font: 16px/20px $base-font-family;
